<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div id="header"></div>
    <div id="page-header"></div>
    <div id="side-bar"></div>
    <div id="custom-container"></div>
    <div id="footer"></div>

    <script type="module" src="../static/js/elements/CommonElement.js"></script>
    <script type="module" src="../static/js/elements/Profile.js"></script>
</body>

</html>