body{
    font-family: "Roboto Condensed", sans-serif;
}
.page-header{
    background-color: #f3f5f7;
    position: relative;
}
.page-breadcrumb{
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 100px;
}
.beform{
    padding: 0 5px;
}
.breadcrumb li{
    font-weight: bold;
}
.breadcrumb li a:hover{
    color: tomato;
}
.content{
    background-color: #f3f5f7;
    padding-top: 35px;
    padding-bottom: 50px;
}
.box-body{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    width: 500px;
}
.row{
    margin-left: 10px;
}
.row h3{
    font-size: 20px;
    margin: 20px 0;
}
.form-group{
    width: 95%;
}
.form-group input{
    padding-left: 25px;
    padding-right: 35px;
}
form button{
    width: 95%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row p{
    color: #848687;
}
.feature-left{
    padding-left: 100px;
}
.feature-content{
    padding: 10px 0;
    margin-right: 15px;
    text-align: justify;
}
.feature-content h4{
    font-size: 20px;
    font-weight: bold;
}
.feature-content p{
    color: #848687;
}