/* Top Header*/
.top-header {
    background-color: #e9edf0;
}

.top-header ul {}

/* .top-header ul li {
    float: left;
    padding: 0px 22px;
    font-size: 14px;
    font-weight: 700;
    color: #848687;
} */
/* .top-header ul li {
    float: left;
    padding: 0px 14px;
  } */
.top-header ul li {
    float: left;
    padding: 0px 14px;
    display: inline;
    color: #848687;
}

.top-text {
    font-size: 14px;
    color: #848687;
    margin-bottom: 0px;
}

.header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 9;
    position: relative;
    background-color: #fff;
}

/* .header-wrapper {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .header-wrapper {
    padding-top: 10px;
    padding-bottom: 0px;
  } */
.logo {
    margin-top: 6px;
}

.search-bg {
    position: relative;
    top: 8px;
  }
  .search-bg .form-control {
    height: 52px;
  }
  .search-bg button {
    background-color: transparent;
    border: transparent;
    color: #c4c9cc;
    font-size: 14px;
    position: absolute;
    right: 0px;
    padding: 11px 22px;
    bottom: 0;
  }

  .account-section {
    line-height: 63px;
    display: inline-block;
  }
  .account-section ul {
    padding-left: 0px;
  }
  .account-section ul li {
    float: left;
    

  }
  .account-section ul li a {
    font-weight: 400;
    font-size: 15px;
    color: #848687;
    padding: 0px 8px;
    text-transform: uppercase;
  }
  .account-section ul li a:hover {
    color: #fb730f;
  }